* {
	color: #333;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
main {
	display: grid;
	grid-template-rows: auto 1fr 1fr 1fr 1fr 1fr;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	gap: 2px;
	width: 300px;
	height: 400px;
	background: black;
	padding: 2px;
}
button {
	border: none;
    font-size: x-large;
    font-weight: bold;
    background: #ccc;
    line-height: 0.5em;
}
input {
	border: none;
	font-size: xx-large;
	font-weight: 300;
	background: #eee;
}
input[value="0"] {
	text-align: left;
	padding-left: 28px;
    grid-column-start: 1;
    grid-column-end: 3;
}
output {
	font-size: xxx-large;
    text-align: right;
    grid-column-start: 1;
    grid-column-end: 5;
    line-height: 60px;
	min-height: 60px;
	padding: 10px;
	letter-spacing: 2px;
	background: #333;
	color: white;
}
output:empty::before {
	content: '0';
}
